

.amarillo{
    color:#f0c72e;
}
.firstNavBlack{
    background-color: #313131;
}
.grey{
    color:#adadad;
}
.thirdNavPink{
    background-color: #E5007D;
    padding: 0px;
}
.heartIcon{
    color:white;
}
.limiteAncho80{
    width: 75%;
    color: white;
    display:flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.imagenDentroFirstNavBlack{
    margin-right: 0.3rem;
}
#blackFont{
    color: black;
}
.limiteAltura100TerceraBarraNavegacion{
    height: 100%;
    padding: 1rem;
    margin: 0px;
}
.terceraBarraDeNavegacionElementosMenosPrimero{
    padding: 1.3rem 2.5rem;
}
.limiteAltura100TerceraBarraNavegacion:hover{
    background-color: #BF0269;
}